@{
    ViewBag.Title = "Calendar";
}


<div id="content">
    <div>
        <address>
            <iframe src="https://www.google.com/calendar/embed?src=5ktmh56cbjdvdj0mec01he3m9k%40group.calendar.google.com&ctz=America/Chicago"
                     style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </address>
    </div>
</div>