@{
    ViewBag.Title = "Coaches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Coaches</h1>
<div id="content">
    <h2>Head Coach - Tim Kersey</h2>
    <p>
        Since the Fall of 2013 Tim has been the Head Cross Country Coach at Como Park Senior High. Born and raised in St. Anthony Park, Tim is a 1993 graduate of St. Paul Central High School. He studied Physiological Sciences and graduated in 1998 with a BS in Health Sciences from the University of Arizona where he played hockey for the Arizona Icecats. 
Tim has worked as a personal trainer at Shoreview Community Center over the past 11 years, conducting personal fitness training, employee training, and developing the Center’s fitness assessment program.Tim is the founder and president of Minnesota Exercise Professionals, LLC.
    </p>
    <h3>COACHING EXPERIENCE</h3>
    <ul>
        <li>Simley High School, Cross Country, Boys/Girls Head Coach 2004-2012 </li>
        <li>Track & Field, Boys Head Coach 2010-2013</li>
    </ul>

    <h3>EDUCATION</h3>
    <ul>
        <li>St. Paul Central High School, class of 1993</li>
        <li>B.S., Physiological Sciences, University of Arizona, 1998</li>
    </ul>
    <h3>CERTIFICATIONS/COACHING EDUCATION</h3>
    <ul>
        <li>Health/Fitness Specialist, American College of Sports Medicine (ACSM H/FS) 2005-present</li>
        <li>USATF Level 1, USA Track & Field, Villanova University & Stillwater HS, 2007 & 2009</li>
        <li>USATF Level 2- Endurance,  Villanova, 2010</li>
    </ul>

    <h2>Assistant Coach - Jim Rue</h2>
    <p>
        Jim Rue joined the Como Park Senior High cross country team as an assistant coach in the Fall of 2016.
    He is an avid runner, having completed many local short and long distance races including the Twin Cities Marathon.
    His coaching goal is to help each student enjoy the sport, learn how to run effectively, efficiently, and injury-free.
    </p>
    <h3>Background</h3>
    <p>
        Coach Rue graduated with a degree in Sociology from the University of Minnesota and a Master’s degree in Special Education from the
    University of St. Thomas. He retired after 36 years with Saint Paul Public Schools in June of 2016.
   He and his wife live in the Como Park neighborhood and both of his children are graduates of Como Park schools.
    </p>
    <h3>CERTIFICATIONS/COACHING EDUCATION</h3>
    <ul>
        <li>CPR</li>
        <li>First Aid</li>
        <li>Concussion and Return to Play protocol</li>
    </ul>
</div>
