@model ComoCrossCountry.Race

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResultDetail</title>
</head>
<body>
    @{
        string docLink = Model.FormattedResults.Substring(0, 4) == "http" ? Model.FormattedResults : string.Empty;
        if (!string.IsNullOrWhiteSpace(docLink))
        {
            Response.Redirect(docLink);
        }
        else if (Model.FormattedResults.Contains("pdf") || Model.FormattedResults.Contains("xlsx"))
        {
            Server.TransferRequest("~/Content/" + Model.FormattedResults);
        }
        else
        {
            <div>
                <pre>
        @Html.Raw(Model.FormattedResults)
        </pre>
            </div>
        }
    }
</body>
</html>
