@{
    ViewBag.Title = "Transportation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <h1>Transportation</h1>
    <p></p>
    <h2>2018 Como Park Cross Country</h2>

    <p>8/24 central open 8:15a*,  st Kate's  12:00 return pick up time*</p>
    <p>8/31 Irish invite 8:15a, rosemount hs 12:00 return</p>
    <p>9/11 twin cities challenge 2:30p, battle creek regional park 4:30p return</p>
    <p>
        9/13 rum River invite 1:40p, 
Anoka hs 5:45 return
    </p>
    <p>9/18 St. Paul conference relays, 2:30, battle creek regional park 5:00</p>
    <p>
        9/29 ***Griak invite 9:00a, ****
        Les Bolstad golf course 5:30 return
    </p>
    <p>
        10/9 Washington invite 2:30p,
pike island 5:00p return
    </p>
    <p>
        10/16 St. Paul conference championships 2:15p,
Como golf course 5;45 return
    </p>
    <p>
        10/24 section 4aa 1:40p, 
Les Bolstad golf course 5:15 return
    </p>

    <h2>*All departures from Como Park Senior HS</h2>
    <h2>***Griak meet has not been scheduled yet and bus time is subject to change</h2>
</div>
